<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
        <context-param>
    <param-name>bankName1</param-name>
    <param-value>MB Bank</param-value>
</context-param>

<context-param>
    <param-name>AccountName</param-name>
    <param-value>Nghiem Minh Duc</param-value>
</context-param>

<context-param>
    <param-name>AccountNumber</param-name>
    <param-value>0985407026</param-value>
</context-param>

<context-param>
    <param-name>bankName2</param-name>
    <param-value>Vietcombank</param-value>
</context-param>

<context-param>
    <param-name>AccountName2</param-name>
    <param-value>Nguyen Thanh Trung</param-value>
</context-param>

<context-param>
    <param-name>AccountNumber2</param-name>
    <param-value>987654321</param-value>
</context-param>

<context-param>
    <param-name>bankName3</param-name>
    <param-value>Vietinbank</param-value>
</context-param>

<context-param>
    <param-name>AccountName3</param-name>
    <param-value>Nguyen Van Hoang Son</param-value>
</context-param>

<context-param>
    <param-name>AccountNumber3</param-name>
    <param-value>123456789</param-value>
</context-param>

<context-param>
    <param-name>bankName4</param-name>
    <param-value>ABBank</param-value>
</context-param>

<context-param>
    <param-name>AccountName4</param-name>
    <param-value>Tran Doan Tien</param-value>
</context-param>

<context-param>
    <param-name>AccountNumber4</param-name>
    <param-value>987654321</param-value>
</context-param>
    
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>Controller.ProductListPublic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/product-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/product-detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
